/* Style pour le bandeau */
#bandeau {
    background-color: #807e7e;
    color: #fff;
    padding: 10px 0;
    text-align: center;
    display: flex;
    align-items: center; /* Centrage vertical */
    justify-content: center; /* Centrage horizontal */
}

#bandeau a {
    color: #fff;
    text-decoration: none;
    margin: 0 20px;
    font-family: Arial, sans-serif; /* Police de caractères */
    font-size: 18px; /* Taille de la police */
    letter-spacing: 1px; /* Espacement entre les lettres */
}

#bandeau a:hover {
    text-decoration: underline;
}

#bandeau img {
    margin-right: px;
}

/* Reset CSS */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Style général */
body {
    font-family: Arial, sans-serif;
    background-color: #f8f8f8;
}



h1 {
    text-align: center;
    margin-bottom: 20px;
}


.article img {
    display: block;
    margin: 0 auto;
    max-width: 100%;
    height: auto;
    border-radius: 10px; /* Ajout de la bordure arrondie */
    
}

.article p {
    text-align: center;
    margin-top: 10px;
}

button {
    display: block;
    margin: 0 auto;
    padding: 10px 20px;
    font-size: 16px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #0056b3;
}

/* Reset CSS */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.contenu-page {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start; /* Alignement horizontal */
}

.article {
    width: calc(20% - 1px); /* Pour créer 6 articles par ligne */
    margin-right: 20px;
    margin-bottom: 20px;
    text-align: center;
}

@media (max-width: 768px) {
    .article {
        width: 100%; /* Pour afficher les articles en une seule colonne sur des petits écrans */
        margin-right: 0;
    }
}

