/* Style pour le bandeau */
#bandeau {
    background-color: #333;
    color: #fff;
    padding: 10px 0;
    text-align: center;
    display: flex;
    align-items: center; /* Centrage vertical */
    justify-content: center; /* Centrage horizontal */
}

#bandeau a {
    color: #fff;
    text-decoration: none;
    margin: 0 20px;
    font-family: Arial, sans-serif; /* Police de caractères */
    font-size: 18px; /* Taille de la police */
    letter-spacing: 1px; /* Espacement entre les lettres */
}

#bandeau a:hover {
    text-decoration: underline;
}

#bandeau img {
    margin-right: 20px;
}

/* Style pour le contenu de la page */
.contenu-page {
    max-width: 800px; /* Largeur maximale du contenu */
    margin: 0 auto; /* Centrage horizontal */
    padding: 20px; /* Espacement intérieur */
}

/* Style pour les titres de section */
.section-title {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
}

/* Style pour les liens du catalogue */
.catalogue-link {
    display: block;
    margin-bottom: 20px;
    color: #333;
    text-decoration: none;
    border: 1px solid #333;
    padding: 10px;
    transition: background-color 0.3s, color 0.3s;
}

.catalogue-link:hover {
    background-color: #333;
    color: #fff;
}

/* Style pour les images du catalogue */
.catalogue-image {
    max-width: 100%;
    height: auto;
    margin-bottom: 10px;
}

/* Style pour les boutons */
.button {
    background-color: #333;
    color: #fff;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s;
}

.button:hover {
    background-color: #555;
}
